.navbar {
  top: 0;
  z-index: 100;
  float: right;
}
.navbar-toggler {
  position: fixed;
  right: 0;
  top: 28px;
}
.collapsing{
  display: none;
}
.collapse.show {
  display: block;
  position: absolute;
  top: 61px;
  right: 0;
  width: 320px;
  height: 100vh;
  background: black;
  transition: 3s transform ease-in-out;
  .nav-menu > li{
    padding: 30px 50px;
  }
}
.nav-link:hover {
  .dropdown-menu {
    display: block !important;
  }
}
.contact-button-nav {
  background: transparent;
  color: black;
  border: 1px solid rgb(173, 169, 169);
  /* margin: 0 auto; */
  margin-right: 0;
  margin-left: auto;
}
#0.targetLanguage {
  background: #f2f2f2;
  border-radius: 20px;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.dropdown-menu {
  margin-top: 0px;
}

//  navbar style
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: #555;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #ffd700;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
.dropdown-toggle::after {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.nav-menu li:hover > ul {
  display: block;
  margin-top: -5px;
}

#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}
.navbar-header{
  background: #00000026;
}
#header #logo {
  float: left;
  position: absolute;
  top: 15px;
  align-items: center;
}

#header #logo span {
  font-size: 29px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

#header #logo span a,
#header #logo span a:hover {
  color: #fff;
  padding-left: 10px;
}

#header #logo img {
  padding: 0;
  margin: 0;
}
@media (max-width: 1300px) {
  #header #logo span a,
#header #logo span a:hover {
 font-size: 16px !important;
 padding-left: 0 !important;

}
}
// @media (max-width: 768px) {
//   .navbar{
//     a{
//       font-size: 20px ;
//     }
//   }
// }
// .collapse.show {
//   width: 100%;
//   font-size: 15px;
// }
// .collapsing {
//   font-size: 15px;
// }
// body {
//   height: 2000px;
// }
// .navbar .navbar-brand {
//   font-size: 30px;
//   position: fixed;
//   left: 0;
//   top: 15px;
//   padding: 20px;
// }
// .navbar .nav-item {
//   padding: 10px 20px;
// }
// .navbar .nav-link {
//   font-size: 20px;
//   margin-left: 10px;
// }
// .fa-bars {
//   color: #007bff;
//   font-size: 30px;
// }
// .sticky-top {
//   position: fixed;
//   top: 0;
//   z-index: 1020;
//   display: flex;
//   width: 100%;
//   min-height: 80px;
//   justify-content: center;
// }
// .navbar-nav{
//   position: fixed;
//     right: 0;
//     background: #343a40;
// }