.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}
body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #0303036e;
}
.goog-te-combo {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}
.translator-wrapper {
  /* position: fixed; */
  /* right: 0;
  bottom: 0; */
  background: #f2f2f2;
  /* padding: 10px 20px; */
  border-radius: 20px;
  margin: 10px;
  z-index: 10;
  height: 40px;
}
@media only screen and (min-width: 600px) {
  .translator-wrapper {
    position: absolute;
    right: 150px;
    background: #f2f2f2;
    /* padding: 10px 20px; */
    border-radius: 20px;
    margin: 10px;
    z-index: 10;
    height: 40px;
    top: 5px;
  }
}
.goog-logo-link {
  display: none !important;
}
.goog-te-gadget {
  color: transparent !important;
}
.goog-te-combo {
  background: #f2f2f2;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.featured-text {
  padding: 0 0 0 2rem;
  border-left: 0.5rem solid #64a19d;
}
hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 30%;
}
.hover-zoomin {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.hover-zoomin:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

