body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar-brand{
  padding-top: 0 !important;
  max-width: 50px;
}
.specialities{
  display: flex;
  flex-direction: row !important;
  justify-content: center;
}
.speciality-icon{
  color:orange
}
.whatsapp{
  width:100px;
}
@media only screen and (max-width: 900px) {
  .card-border
{
  height:100vh;
  width:100%;
  overflow:hidden; /* or overflow:auto; if you want scrollbars */
  background: #f9eadf;
  border-top: 2px solid #c9c9c961;
}
}
.specialities-data{
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.specialities-text{
  display: flex;
  justify-content:center;
}
.services{
  background: #19792f1f;
  padding: 25px;
}